<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINI BOOM</title>
    <script src="/jquery/jquery.js"></script>
  </head>
  <body>
    <header>PUSH_TEST</header>

    <div class="wrap">
      <button class="trigger-push">SEND</button>
    </div>

    <div class="wrap">
      <input type="text" id="title"><span>푸쉬 제목입력</span>
    </div>

    <div class="wrap">
      <input type="text" id="content"><span>푸쉬 내용입력</span>
    </div>

    <input type="text" id="nickname" value="<%-nickname%>"><span>푸쉬보낼 닉네임 입력(추후 게시판 작성자 아이디)</span>

    <script src="/push_test/push_test_local.js" async></script>
  </body>
</html>
