<!doctype html>
<html lang="kr">
<head>
  <%- include ('../../public/ejs-module/head.ejs') %>
</head>
  <body>
<!--상단 네비게이션 바 -->
  <%- include ('../../public/ejs-module/header.ejs') %>

<main class="container">

</main><!-- /.container -->
<section class="container">
  <div class="starter-template text-center py-5 px-3">
  <h1>사이트 소개</h1>
  <h2>미니붐은 어떤 사이트인가요?</h2>
  <h2>What's miniboom?</h2>
    <br>
  <p>미니붐은 캡스톤 디자인 프로젝트로 제작된 웹 애플리케이션입니다.</p>
  <p>비회원도 참여가능한 커뮤니티를 목표로 제작되었습니다.</p>
  

  </div>
</section>
<!-- footer start-->
<!-- <%# include('../ejs/footer.ejs'); %> -->
<!-- footer end -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </body>
</html>
