<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Dongmin Jeong, Changhee Kim">
<meta name="generator" content="Hugo 0.79.0">
<title>Mini Boom!</title>
<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/starter-template/">
<!-- Bootstrap core CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="/public/javascripts/cookies.js"></script>
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  body {
    padding-top: 5rem;
  }
</style>

<%#
<script type="text/javascript">
  var protocol = window.location.protocol;
  var hostname = window.location.hostname;
  var pathname = window.location.pathname;
  var url = hostname + pathname;


  if(protocol == "http:"){
    console.log("http");
    protocol = "https:"
    window.open(protocol + url, "_self");
  } else{
    console.log("어서오고")
  }
</script>
%>
